
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <img src="https://i.hizliresim.com/35z6wt5.jpeg" alt="">
            <p>Gerçekleştirdiğim projeyi Mvc5'de Code First yapısı kullanılarak oluşuturdum. Bu proje kapsamında, gezip gördüğüm yerleri sizinle paylaşmaya çalıştım. Sitemi incelerken umarım keyif alırsınız.</p>
        </div>
    </div>
</div>